.about {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  @media screen and(max-width:1024px) {
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
h2{
  margin-bottom: -10px ;
  font-size: 35px;
}
  .aboutImg {
    width: 800px;
    height: 74%;
    margin-top: 2%;

    @media (max-width: 1360px) {
      width: 700px;
    }

    @media (max-width: 1238px) {
      width: 650px;
      height: 70%;
    }

    @media (max-width: 1189px) {
      width: 600px;
      height: 63%;
    }

    @media (max-width: 1137px) {
      width: 500px;
      height: 53%;
    }
  }
  .aboutUsDivAll {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    grid-gap: 60px;

    @media (max-width: 1142px) {
      grid-gap: 40px;
    }

    @media (max-width: 1090px) {
      grid-gap: 30px;
    }

    @media (max-width: 1044px) {
      grid-gap: 26px;
    }

    @media screen and(max-width:1024px) {
      
    }
    @media screen and(max-width:810px) {
      margin-bottom: 7%;
    }

    @media screen and(max-width:536px) {
      margin-bottom: 9%;
    }

    .aboutUsDivs {
      display: flex;
      .aboutUsDiv {
        p {
          font-family: inherit;
          font-style: normal;
          font-weight: 300;
          font-size: 16px;
          line-height: 24px;
          text-transform: capitalize;
          color: rgb(196, 196, 196);

          @media (max-width: 1490px) {
            font-size: 14px;
          }
          @media (max-width: 1394px) {
            font-size: 13px;
          }

          @media (max-width: 1066px) {
            font-size: 12px;
          }

          @media screen and(max-width:1024px) {
            font-size: 14px;
          }

          @media screen and(max-width:810px) {
           font-size: 16px;
          }

          @media screen and(max-width:536px) {
            font-size: 15px;
          }
        }

        img {
          width: 100px;
          height: 50px;
        }
      }

      span {
        padding: 0 40px 0 50px;

        @media (max-width: 1345px) {
          padding: 0 40px 0 33px;
        }

        @media screen and(max-width:1024px) {
          display: none;
        }

        img {
          @media (max-width: 1360px) {
            width: 40px;
            height: 40px;
          }
        }
      }
    }

    h3 {
      font-family: inherit;
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 24px;
      text-transform: capitalize;
    }
  }
}

.react-3d-carousel .slider-container .slider-left div {
  position: absolute;
  top: 50%;
  left: 0%;
  margin-top: -20 px;
  color: #ffffff;
  transform: translateY(-50%);
  padding: 10px 10px;
  border-top: 1px solid #fdc84b !important;
  border-right: 1px solid #fdc84b !important;
  border-bottom: 1px solid #fdc84b !important;
  border-left: 1px solid #fdc84b !important;
}

.react-3d-carousel .slider-container .slider-right div {
  position: absolute;
  top: 50%;
  left: 0%;
  margin-top: -20 px;
  color: #ffffff;
  transform: translateY(-50%);
  padding: 10px 10px;
  border-top: 1px solid #fdc84b !important;
  border-right: 1px solid #fdc84b !important;
  border-bottom: 1px solid #fdc84b !important;
  border-left: 1px solid #fdc84b !important;

  @media screen and(max-width:1024px) {
    text-align: -webkit-center;
  }
}

.react-3d-carousel
  .slider-container
  .slider-content
  .slider-single
  .slider-single-content
  img {
  @media screen and(max-width:1024px) {
    width: 150% !important;
  }

  @media screen and(max-width:810px) {
    width: 140% !important;
  }

  @media screen and(max-width:536px) {
    width: 130% !important;
  }
}

.fba {
  cursor: pointer;
  position: relative;
  /*animation*/

  animation-name: none;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-direction: alternate;
}
.fba:hover {
  color:#DBC13C;
  transition: .4s;
}

.arrowBox:hover .fba{
  //animation-play-state: paused;
  animation-name:about-arrow;
}

@keyframes about-arrow{
  0%{
    right: -2px;
  }
  100%{
    right: 0;
  }
}