.footer {
  width: 100%;
  height: 500px;
}

.footerUp {
  width: 100%;
  height: 328px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding-top: 1%;
  text-transform: capitalize;

  h2 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
    text-transform: capitalize;
  }
}

.footerInfoBox {
  display: flex;
  justify-content: space-around;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  padding: 40px;
  margin-right: 4%;
  line-height: 182.85%;
  text-align: center;
  text-transform: capitalize;
}

.footerInfoBody {
  display: flex;
  justify-content: space-around;
  text-align: left;
}

.sendInp {
  width: 275px;
  height: 32px;
  border: 1px solid;
  border-radius: 5px 0 0 5px;
  font-size: 16px;
  padding: 5px 10px;
  outline: 0;
  margin: 12px 0 8px 0;
}

.sendInp p {
  text-align: left;
}

.sendBtn {
  width: 100px;
  height: 32px;
  background: #3975d1;
  border: 0;
  border-radius: 0 5px 5px 0;
  font-size: 16px;
  padding: 5px 10px;
  outline: 0;
  cursor: pointer;
}

.footerSearch {
  margin: 1%;
  justify-content: flex-start;
  display: flex;
  text-align: left;
  flex-direction: column;
  padding: 1%;
}

.footerZrt {
  font-size: 12px;
}

.footerZrtPrt {
  font-size: 23px;
}

.footerInfo {
  padding: 30px 50px;
  text-align: center;
}

.footerDwn {
  height: 172px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footerIcons {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: row;
}

.footerIcon {
  margin: 10px;

  img:hover {
    color: #428dff;
  }
}

.footerText {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: row;
}

.footerTextItem {
  margin: 10px;
}

i {
  width: 10px;
  height: 18px;
  cursor: pointer;
}

.inst:hover {
  color: #C234BD;
  transition: .4s;
}

.linke:hover {
  color: #65a0ff;
  transition: .4s;
}

.fb:hover {
  color: #428DFF;
  transition: .4s;
}

.location:hover {
  color: orangered;
  transition: .4s;
}

@media screen and(max-width: 767px) {
  .footer {
    width: 100%;
    height: 630px;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    margin-top: 25vh;

    h2 {
      font-size: 20px;
    }
  }
  .footerInfoBox {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footerInfoBody {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footerDwn {
    flex-direction: column;
    margin-top: 10vw;
  }
  .footerSearch {
    display: none;
  }
  .footerIcons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: -4vw;
    margin-top: 3vh;
  }
  .locat{
    margin-left: 2vw;
  }

}

@media screen and(max-width: 1024px) {
  .footer {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    margin-top: 10vh;

    h2 {
      font-size: 30px;
    }
  }
  .footerUp {
    margin-top: 10vh;
  }
  .footerSearch {
    display: none;
  }
}

@media screen and(max-width: 425px) {
  .footer {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    margin-top: 15vh;

    h2 {
      font-size: 20px;
    }
  }
  .footerDwn {
    flex-direction: column;
    margin-top: 15vh;
  }
  .footerIcons {
    .footerIcons {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin-left: -4vw;
      margin-top: 15vh;
    }
  }
  .footerText{
   display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .locat{
    margin-left: -0.9vw;
    margin-top: 2vh;
  }
}

@media screen and(max-width: 320px) {
  .footer {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    margin-top: 15vh;

    h2 {
      font-size: 15px;
      margin-left: 10vw;
    }
  }
  .locat{
    margin-top: 2vh;
  }
  .hasce{
    font-size: 12px;
    margin-left: 10vw;
  }
}