.team {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 150vh;
  flex-direction: column;


  h2 {
    font-family:inherit;
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 29px;
    text-transform: uppercase;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 30px;
  }

  .outTeamImg {
    height: 398px;
    display: flex;
    justify-content: center;
    margin: 0 auto;

    img {
      @media (max-width: 1238px) {
        width: 80%;
        height: 100%;
      }
    }
  }

  h3 {
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
    text-transform: capitalize;
    margin: 0 auto;
    padding: 1.5%;
  }

  p {
    font-family:inherit;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    text-transform: capitalize;
    margin-top: 15px;
  }

  .teamLogos {
    display: flex;
    justify-content: space-evenly;
    padding: 5%;
    @media (max-width: 1024px) {
      grid-gap: 90px;
    }

    .teamLogo {
      display: grid;
      justify-items: center;

      img {
        width: 65px;

        @media (max-width: 1115px) {
          width: 55px;
        }
        @media(max-width:1024px) {
          width: 50px;
        }
      }
    }

    span {
      font-family:inherit;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      text-transform: uppercase;
      color: #888888;
      margin-top: 20px;

      @media (max-width: 1181px) {
        font-size: 12px;
      }
      @media(max-width:1024px) {
        font-size: 10px;
      }
    }
  }
}


.parallax {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 190px !important;
  height: 190px !important;
  border: 2px solid;
  border-radius: 20px;
  transform-style: preserve-3d;
  padding: 1%;

  @media screen and(max-width: 1547px) {
    width: 180px !important;
    height: 180px !important;
  }
  @media screen and(max-width: 1502px) {
    width: 170px !important;
    height: 170px !important;
  }
  @media screen and(max-width: 1432px) {
    width: 150px !important;
    height: 150px !important;
  }

  @media screen and(max-width: 1256px) {
    width: 140px !important;
    height: 140px !important;
  }
  @media screen and(max-width: 1186px) {
    width: 130px !important;
    height: 130px !important;
  }
  @media screen and(max-width: 1114px) {
    width: 120px !important;
    height: 120px !important;
  }

  @media screen and(max-width: 1024px) {
    width: 110px !important;
    height: 110px !important;
    padding: 6%;
  }
  @media screen and(max-width: 768px) {
    width: 110px !important;
    height: 110px !important;
    padding: 6%;
  }
  @media screen and(max-width: 425px) {
    width: 110px !important;
    height: 110px !important;
    padding: 6%;
  }
  @media screen and(max-width: 375px) {
    width: 110px !important;
    height: 110px !important;
    padding: 6%;
  }
  .inner-element {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    font-style: italic;
    transform: translateZ(60px);
  }

  :hover {
    color: #dbc13c;
  }
}

@media screen and(max-width: 1440px) {
  .team {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .outTeamImg {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 20vw;
  }
}

@media screen and(max-width: 1024px) {
  .team {
    width: 100%;
    height: 488px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 20vh;
  }

  .outTeamImg {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    img {
      width: 80%;
    }
  }
}

@media screen and(max-width: 768px) {
  .team {
    width: 100%;
    height: 488px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20vh;
  }

  .outTeamImg {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    img {
      width: 40%;
    }
  }
}

@media screen and(max-width: 1024px) {
  .team {
    width: 100%;
    font-size: 8px;
  }
}
