@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Roboto:ital,wght@0,400;0,500;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Teko:wght@600&display=swap");
.header {
  width: 100%;
  height: 538px;
  background-image: url(./assets/images/bffcbb3c0a5f66158141ae3e6c89bf11\ 1.png);
  position: relative;
  z-index: 10000; }
  .header Link {
    list-style: none;
    padding: 0 10px 0 10px;
    cursor: pointer;
    text-transform: uppercase;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    font-family: "Montserrat", sans-serif;
    color: white; }
  .header .nav {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    border-radius: 5px; }
    .header .nav .logo {
      width: 150px;
      height: 19.01px; }
    .header .nav ul {
      display: flex;
      justify-content: space-around; }
      .header .nav ul li {
        list-style: none;
        text-decoration: none;
        padding: 0 10px 0 10px;
        cursor: pointer;
        text-transform: uppercase;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        font-family: "Montserrat", sans-serif;
        font-weight: 400;
        color: white; }
    .header .nav .contactButton {
      width: 160px;
      height: 32px;
      border: 1px solid #428dff;
      box-sizing: border-box;
      border-radius: 5px;
      cursor: pointer;
      background: black;
      font-family: "Montserrat";
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 20px;
      /* identical to box height */
      text-transform: uppercase;
      color: #FFFFFF; }
    .header .nav .socLinks {
      width: 65px;
      height: 18px;
      display: flex;
      justify-content: space-between; }
      .header .nav .socLinks i {
        width: 10px;
        height: 18px;
        color: white;
        cursor: pointer; }
      .header .nav .socLinks i:hover {
        color: #428DFF;
        transition: .4s; }
    .header .nav .languages span {
      width: 36px;
      height: 20px;
      font-family: Montserrat;
      font-style: normal;
      font-weight: normal;
      text-transform: uppercase;
      color: #ffffff;
      cursor: pointer; }
  .header .headerContent {
    display: flex;
    justify-content: space-between; }

.links {
  list-style: none;
  padding: 0 10px 0 10px;
  cursor: pointer;
  text-transform: uppercase;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  font-family: "Montserrat", sans-serif;
  color: white; }

Link:hover {
  color: #0F3C92;
  transition: .3s; }

.navbar {
  display: flex;
  background-color: salmon;
  padding: 20px; }

.content {
  padding: 20px 30px; }
  .content h1 {
    font-size: 1.6rem; }

.navbar {
  display: flex;
  background-color: salmon;
  padding: 20px; }

.content {
  padding: 20px 30px; }
  .content h1 {
    font-size: 1.6rem; }

.caruselCheckBox {
  display: none; }

.getStartBox {
  position: relative; }

.getStartBtn {
  position: absolute;
  left: 158px;
  top: 20%;
  height: 40px;
  width: 220px;
  border-radius: 25px;
  background: #0246C8;
  border: 1px solid #0246C8;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #FFFFFF;
  cursor: pointer; }

.modalBox {
  position: absolute;
  height: 533px;
  width: 1166px;
  top: -30%;
  left: 22%;
  border-radius: 10px;
  background: #35373B; }

.closeBtn {
  position: absolute;
  background: none;
  outline: 0;
  margin: 1%;
  cursor: pointer;
  border: 0;
  top: -0.000000001%;
  left: 97%;
  z-index: 6; }

.modalHHH {
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 45px;
  text-transform: uppercase;
  color: #FFFFFF; }

.modealContentBox {
  height: 100%;
  display: flex;
  justify-content: space-around; }

.modalText {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.modalImg {
  padding: 4% 0; }

.nameSur {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  padding: 3%; }

.modealSendBtn {
  height: 40px;
  width: 346px;
  left: 243px;
  top: 648px;
  margin: 2%;
  border-radius: 25px;
  background: #0246C8;
  outline: 0;
  cursor: pointer;
  border: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #FFFFFF; }

.modalInputs {
  height: 32px;
  width: 250px;
  border-radius: 5px;
  margin: 3%;
  background: #3C3E42;
  border: 1px solid gray;
  padding: 2%;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
  outline: 0; }

.modalTextArea {
  padding: 10px;
  max-width: 100%;
  line-height: 1.5;
  border-radius: 5px;
  background: #3C3E42;
  color: #FFFFFF;
  border: 1px solid gray;
  box-shadow: 1px 1px 1px #999;
  outline: 0; }

/*mode*/
.dark-mode-toggle {
  display: flex;
  margin: 0 auto; }
  .dark-mode-toggle > button {
    font-size: 1.2em;
    background: none;
    border: none;
    color: #ffe600;
    cursor: pointer;
    transition: color 0.3s ease; }
    .dark-mode-toggle > button:last-child {
      color: #666; }
    .dark-mode-toggle > button:focus {
      outline: none; }

.toggle-control {
  position: relative;
  padding: 0 4px;
  display: flex;
  align-items: center; }

input[type='checkbox'].dmcheck {
  width: 40px;
  height: 10px;
  background: #555;
  position: relative;
  border-radius: 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  vertical-align: 2px;
  outline: none; }
  input[type='checkbox'].dmcheck:checked + label {
    left: 30px; }
  input[type='checkbox'].dmcheck:focus-visible {
    outline: solid 2px white; }
  input[type='checkbox'].dmcheck + label {
    display: inline-block;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    transition: all 0.3s ease;
    cursor: pointer;
    position: absolute;
    left: 2px;
    background: #fff;
    opacity: 0.9;
    background-color: #f6f6f6; }

.order {
  margin-top: 150px;
  margin-left: 150px;
  font-family: "Montserrat"; }
  .order span {
    margin-top: 2%;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 37px;
    text-transform: uppercase; }
  .order p {
    margin-top: 1%;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    text-transform: capitalize; }

/*swiper*/
.parallaxEffects {
  margin-top: 150px;
  margin-right: 300px; }

.digital {
  width: 100%;
  height: 300px;
  color: white; }
  .digital h3 {
    color: azure;
    margin: 0 auto;
    text-align: center;
    padding: 20px 0px 0px 0px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    text-transform: capitalize;
    color: #ffffff; }
  .digital .digitalContentsMain {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 22vh; }
    .digital .digitalContentsMain .arrow {
      margin-top: -3%; }
    .digital .digitalContentsMain .digitalContent {
      text-align: center; }
      .digital .digitalContentsMain .digitalContent p {
        text-align: center;
        margin: 0 auto;
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        text-transform: uppercase;
        color: #ffffff; }
      .digital .digitalContentsMain .digitalContent img {
        padding-bottom: 10%; }
      .digital .digitalContentsMain .digitalContent img:hover {
        filter: invert(14%) sepia(96%) saturate(6441%) hue-rotate(215deg) brightness(87%) contrast(105%); }

/*mode*/
.digital.dark-mode {
  background-color: #232323;
  color: #dfdfdf; }
  .digital.dark-mode .dark-mode-toggle > button {
    color: #999; }
    .digital.dark-mode .dark-mode-toggle > button:last-child {
      color: #ffffff; }

.parallax-effect-glare-scale {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  border: 2px solid;
  border-radius: 20px;
  transform-style: preserve-3d;
  padding: 1%; }
  .parallax-effect-glare-scale .inner-element {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    font-style: italic;
    transform: translateZ(60px); }

.about {
  width: 100%;
  height: 450px;
  background: black;
  display: flex;
  justify-content: space-evenly;
  align-items: center; }
  @media (max-width: 970px) {
    .about {
      height: 700px;
      background: black;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center; } }
  .about .aboutImg {
    width: 800px;
    height: 74%; }
    @media (max-width: 1360px) {
      .about .aboutImg {
        width: 700px; } }
    @media (max-width: 1238px) {
      .about .aboutImg {
        width: 650px;
        height: 70%; } }
    @media (max-width: 1189px) {
      .about .aboutImg {
        width: 600px;
        height: 63%; } }
    @media (max-width: 1137px) {
      .about .aboutImg {
        width: 500px;
        height: 53%; } }
  .about .aboutUsDivAll {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    grid-gap: 60px; }
    @media (max-width: 1142px) {
      .about .aboutUsDivAll {
        grid-gap: 40px; } }
    @media (max-width: 1090px) {
      .about .aboutUsDivAll {
        grid-gap: 30px; } }
    @media (max-width: 1044px) {
      .about .aboutUsDivAll {
        grid-gap: 26px; } }
    .about .aboutUsDivAll .aboutUsDivs {
      display: flex; }
      .about .aboutUsDivAll .aboutUsDivs .aboutUsDiv p {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 24px;
        text-transform: capitalize;
        color: #ffffff; }
        @media (max-width: 1490px) {
          .about .aboutUsDivAll .aboutUsDivs .aboutUsDiv p {
            font-size: 14px; } }
        @media (max-width: 1394px) {
          .about .aboutUsDivAll .aboutUsDivs .aboutUsDiv p {
            font-size: 13px; } }
        @media (max-width: 1066px) {
          .about .aboutUsDivAll .aboutUsDivs .aboutUsDiv p {
            font-size: 12px; } }
      .about .aboutUsDivAll .aboutUsDivs .aboutUsDiv img {
        width: 100px;
        height: 50px; }
      .about .aboutUsDivAll .aboutUsDivs span {
        padding: 0 40px 0 50px; }
        @media (max-width: 1345px) {
          .about .aboutUsDivAll .aboutUsDivs span {
            padding: 0 40px 0 33px; } }
        @media (max-width: 1360px) {
          .about .aboutUsDivAll .aboutUsDivs span img {
            width: 40px;
            height: 40px; } }
    .about .aboutUsDivAll h3 {
      font-family: Montserrat;
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 24px;
      text-transform: capitalize; }

.services {
  width: 100%;
  height: 650px;
  background-image: url(./assets/images/services.png);
  background-repeat: round; }
  .services h3 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    text-transform: capitalize;
    color: #ffffff;
    margin: 0 auto;
    text-align: center;
    padding: 3%; }
  .services .servicesAll {
    display: flex;
    justify-content: space-around;
    padding: 1%; }
    .services .servicesAll .servicesBox {
      width: 215px;
      height: 181px;
      display: flex;
      justify-content: center;
      border-radius: 10px;
      align-items: center;
      flex-direction: column; }
      .services .servicesAll .servicesBox img {
        padding: 20px;
        width: 95px; }
      .services .servicesAll .servicesBox p {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        text-transform: uppercase;
        color: #ffffff; }
    .services .servicesAll .servicesBox:hover {
      background: rgba(196, 196, 196, 0.2);
      border-radius: 10px;
      transition: .2s; }

:root {
  --color-primary: #6b7a8f;
  --color-secondary: #101118;
  --color-accent: #1d1f2f;
  --color-accent-light: #d9ddf7;
  --color-focus: #6d64f7;
  --base-duration: 600ms;
  --base-ease: cubic-bezier(0.25, 0.46, 0.45, 0.84); }

/* // =========================
// Global
// ========================= */
.visuallyhidden {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  white-space: nowrap;
  width: 1px; }

/* // =========================
// Icons
// ========================= */
.icon {
  fill: var(--color-primary);
  width: 100%; }

/* // =========================
// Buttons
// ========================= */
.btn {
  background-color: var(--color-primary);
  border: none;
  border-radius: 0.125rem;
  color: white;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  padding: 1rem 2.5rem 1.125rem;
  transition: all 0.3s ease-in; }

.btn:hover {
  background: var(--color-accent); }

.btn:focus {
  outline-color: var(--color-focus);
  outline-offset: 2px;
  outline-style: solid;
  outline-width: 3px; }

.btn:active {
  transform: translateY(1px); }

/* // =========================
// Slider controls
// ========================= */
.slider__controls {
  display: flex;
  justify-content: center;
  position: absolute;
  top: calc(100% + 1rem);
  width: 100%; }

.slider__controls .btn {
  --size: 3rem;
  height: var(--size);
  width: var(--size);
  display: flex;
  align-items: center;
  padding: 0;
  background-color: transparent;
  border: 3px solid transparent;
  border-radius: 100%; }

.slider__controls .btn:focus {
  border-color: var(--color-focus);
  outline: none; }

.slider__controls .btn--previous > * {
  transform: rotate(180deg); }

/* // =========================
// Slider
// ========================= */
.slider {
  --slide-size: 50vmin;
  --slide-margin: 3vmin;
  height: var(--slide-size);
  width: var(--slide-size);
  position: relative;
  margin: 0 auto; }

.slider__wrapper {
  position: absolute;
  display: flex;
  margin: 0 calc(var(--slide-margin) * -1);
  transition: transform var(--base-duration) cubic-bezier(0.25, 1, 0.35, 1); }

/* // =========================
// Slide
// ========================= */
.slide {
  height: var(--slide-size);
  width: var(--slide-size);
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 var(--slide-margin);
  color: var(--color-accent-light);
  opacity: 0.25;
  transition: opacity calc(var(--base-duration) / 2) var(--base-ease), transform calc(var(--base-duration) / 2) var(--base-ease);
  z-index: 1;
  /* overflow: hidden; */ }

.slide--previous:hover,
.slide--next:hover {
  opacity: 0.5; }

.slide--previous {
  cursor: w-resize; }

.slide--previous:hover {
  transform: translateX(2%); }

.slide--next {
  cursor: e-resize; }

.slide--next:hover {
  transform: translateX(-2%); }

.slide--current {
  --x: 0;
  --y: 0;
  --d: 50;
  opacity: 1;
  pointer-events: auto;
  user-select: auto; }

.slide__image-wrapper {
  background-color: var(--color-accent);
  border-radius: 1%;
  height: 100%;
  left: 0%;
  overflow: hidden;
  position: absolute;
  top: 0%;
  transition: transform calc(var(--base-duration) / 4) var(--base-ease);
  width: 100%; }

.slide__image {
  --d: 20;
  height: 110%;
  left: -5%;
  object-fit: cover;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: -5%;
  transition: opacity var(--base-duration) var(--base-ease), transform var(--base-duration) var(--base-ease);
  user-select: none;
  width: 110%; }

.slide__headline {
  position: relative;
  font-size: 8vmin;
  font-weight: 600;
  text-align: right;
  width: 70%;
  margin-left: auto; }

.slide__action {
  font-size: 5vmin; }

.slide__content {
  opacity: 0;
  padding: 4vmin;
  position: relative;
  transition: transform var(--base-duration) var(--base-ease);
  visibility: hidden; }

.slide--current .slide__content {
  animation: fade-in calc(var(--base-duration) / 2) var(--base-ease) forwards;
  visibility: visible; }

.slide--current .slide__content > * + * {
  margin-top: 2rem; }

/* only apply styles on devices with hover capability */
@media (hover: hover) {
  .slide--current {
    transform: translate(calc(var(--x) / var(--d) * 1px), calc(var(--y) / var(--d) * 1px)); }

  .slide--current:hover .slide__image-wrapper {
    transform: scale(1.025) translate(calc(var(--x) / var(--d) * 1px), calc(var(--y) / var(--d) * 1px)); }

  .slide__image .slide--current {
    transform: translate(calc(var(--x) / var(--d) * 1px), calc(var(--y) / var(--d) * 1px)); } }
/* // =========================
// Animations
// ========================= */
@keyframes fade-in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
* {
  margin: 0;
  padding: 0; }

.section {
  background: #282828;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0px 60px 0px; }

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 90%; }

.row1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px; }

.text_row1 {
  cursor: pointer;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  text-transform: capitalize;
  color: #ffffff; }

.row2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
  width: 85%; }

.text_row2 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  text-transform: capitalize;
  color: #9e9e9e;
  cursor: pointer; }

.row3 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  width: 100%; }

.row3_div1,
.row3_div2,
.row3_div3,
.row3_div4,
.row3_div5,
.row3_div6 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid #9e9e9e;
  background: #282828;
  border-radius: 5px;
  padding: 15px 0px;
  width: 15%;
  margin: 10px;
  z-index: 5; }

.row3_span {
  width: 84%;
  border: 1px solid #9e9e9e;
  position: absolute; }

.row3_div_img {
  width: 50px;
  height: 50px; }

.row3_div_img img {
  width: 100%;
  cursor: pointer; }

.row3_p {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  margin-top: 2px;
  line-height: 24px;
  text-align: center;
  text-transform: capitalize;
  color: #ffffff;
  cursor: pointer; }

.row4 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; }

.row4_div1,
.row4_div2,
.row4_div3,
.row4_div4,
.row4_div5 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid #9e9e9e;
  background: #282828;
  border-radius: 5px;
  padding: 15px 0px;
  width: 15%;
  margin: 10px;
  z-index: 5; }

.row4_span {
  width: 70%;
  border: 1px solid #9e9e9e;
  position: absolute; }

.row4_div_img {
  width: 50px;
  height: 50px; }

.row4_div_img img {
  width: 100%;
  cursor: pointer; }

.row4_p {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  margin-top: 2px;
  line-height: 24px;
  text-align: center;
  text-transform: capitalize;
  color: #ffffff;
  cursor: pointer; }

.div_line_row3_row4 {
  display: none; }

.container_row3_row4 {
  width: 100%; }

@media only screen and (max-width: 1070px) {
  .row3_div_img,
  .row4_div_img {
    width: 45px;
    height: 45px; }

  .text_row2 {
    font-size: 15px; } }
@media only screen and (max-width: 864px) {
  .row3_div_img,
  .row4_div_img {
    width: 40px;
    height: 40px;
    margin: 8px; }

  .row3_div1,
  .row3_div2,
  .row3_div3,
  .row3_div4,
  .row3_div5,
  .row3_div6 {
    margin: 8px; }

  .row4_div1,
  .row4_div2,
  .row4_div3,
  .row4_div4,
  .row4_div5 {
    margin: 8px; } }
@media only screen and (max-width: 700px) {
  .row3_div_img,
  .row4_div_img {
    width: 35px;
    height: 35px; }

  .row3_div1,
  .row3_div2,
  .row3_div3,
  .row3_div4,
  .row3_div5,
  .row3_div6 {
    margin: 7px; }

  .row4_div1,
  .row4_div2,
  .row4_div3,
  .row4_div4,
  .row4_div5 {
    margin: 7px; }

  .text_row2 {
    font-size: 14px; }

  .row3_p {
    font-size: 14px; }

  .row4_p {
    font-size: 14px; } }
@media only screen and (max-width: 630px) {
  .row3_div_img,
  .row4_div_img {
    width: 25px;
    height: 20px; }

  .row3_p {
    font-size: 12px; }

  .row4_p {
    font-size: 12px; }

  .text_row2 {
    font-size: 12px; }

  .text_row1 {
    font-size: 22px; }

  .row3_div1,
  .row3_div2,
  .row3_div3,
  .row3_div4,
  .row3_div5,
  .row3_div6 {
    margin: 5px;
    padding: 10px 0px; }

  .row4_div1,
  .row4_div2,
  .row4_div3,
  .row4_div4,
  .row4_div5 {
    margin: 5px;
    padding: 10px 0px; }

  .section {
    padding: 15px 0px 45px 0px; }

  .row2,
  .row3 {
    margin-bottom: 15px; }

  .row1 {
    margin-bottom: 10px; } }
@media only screen and (max-width: 503px) {
  .text_row2 {
    font-size: 10px; }

  .row3_div_img,
  .row4_div_img {
    width: 20px;
    height: 15px; }

  .text_row1 {
    font-size: 20px; }

  .row4_p,
  .row3_p {
    font-size: 11px; } }
@media only screen and (max-width: 450px) {
  .container_row3_row4 {
    width: 100%;
    display: flex; }

  .row3 {
    flex-direction: column;
    margin-bottom: 0px;
    width: 50%;
    align-items: flex-end; }

  .row4 {
    flex-direction: column;
    width: 50%;
    align-items: flex-start; }

  .row3_div6 {
    display: none; }

  .row3_div1,
  .row3_div2,
  .row3_div3,
  .row3_div4,
  .row3_div5,
  .row3_div6 {
    width: 50%;
    margin: 5px 0px; }

  .row4_div1,
  .row4_div2,
  .row4_div3,
  .row4_div4,
  .row4_div5 {
    width: 50%;
    margin: 5px 0px; }

  .row3_span,
  .row4_span {
    display: none; }

  .div_line_row3_row4 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 5%; }

  .line_row3_row4 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 0px;
    color: #fff;
    height: 79px;
    width: 100%; }

  .line_row3_row4::before {
    content: "";
    border: 1px solid #9e9e9e;
    width: 100%; } }
.team {
  width: 100%;
  background: black;
  display: flex;
  justify-content: center;
  flex-direction: column; }
  .team h2 {
    color: white;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
    align-items: center;
    margin: 0 auto;
    padding: 2%; }
  .team .outTeamImg {
    width: 1166px;
    height: 398px;
    display: flex;
    justify-content: center;
    margin: 0 auto; }
    @media (max-width: 1238px) {
      .team .outTeamImg img {
        width: 900px;
        height: 398px; } }
  .team h3 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
    text-transform: capitalize;
    color: #ffffff;
    margin: 0 auto;
    padding: 1.5%; }
  .team p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    text-transform: capitalize;
    color: #ffffff;
    margin-top: 15px; }
  .team .teamLogos {
    display: flex;
    justify-content: space-evenly;
    padding: 5%; }
    .team .teamLogos .teamLogo {
      display: flex;
      justify-content: center;
      flex-direction: column; }
      .team .teamLogos .teamLogo img {
        width: 80px; }
    .team .teamLogos span {
      font-family: Montserrat;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      text-transform: uppercase;
      color: #888888;
      margin-top: 20px; }

.parallax-effect-glare-scale {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 190px;
  height: 190px;
  transform-style: preserve-3d; }
  .parallax-effect-glare-scale .inner-element {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    font-style: italic;
    color: white;
    transform: translateZ(60px); }

.footer {
  width: 100%;
  height: 500px; }

.footerUp {
  width: 100%;
  height: 328px;
  background: #202020;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding-top: 1%;
  text-transform: capitalize; }
  .footerUp h2 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
    text-transform: capitalize;
    color: #ffffff; }

.footerInfoBox {
  display: flex;
  justify-content: space-around;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  padding: 40px;
  margin-right: 4%;
  line-height: 182.85%;
  text-align: center;
  text-transform: capitalize; }

.footerInfoBody {
  display: flex;
  justify-content: space-around;
  text-align: left; }

.sendInp {
  width: 275px;
  height: 32px;
  border: 0;
  border-radius: 5px 0 0 5px;
  font-size: 16px;
  padding: 5px 10px;
  outline: 0;
  margin: 12px 0 8px 0; }

.sendInp p {
  text-align: left; }

.sendBtn {
  width: 100px;
  height: 32px;
  background: #3975d1;
  border: 0;
  border-radius: 0 5px 5px 0;
  font-size: 16px;
  padding: 5px 10px;
  outline: 0;
  cursor: pointer;
  color: white; }

.footerSearch {
  margin: 1%;
  justify-content: flex-start;
  display: flex;
  text-align: left;
  flex-direction: column;
  padding: 1%; }

.footerZrt {
  font-size: 12px; }

.footerZrtPrt {
  font-size: 23px; }

.footerInfo {
  padding: 30px 50px;
  text-align: center; }

.footerDwn {
  background: #171717;
  height: 172px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white; }

.footerIcons {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: row; }

.footerIcon {
  margin: 10px; }
  .footerIcon img:hover {
    color: #428dff; }

.footerText {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: row; }

.footerTextItem {
  margin: 10px; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body::-webkit-scrollbar {
  width: 8px; }

/*scrol*/
.scroll-to-top {
  position: fixed;
  bottom: 0.5rem;
  right: 0.5rem;
  animation: fadeIn 700ms ease-in-out 1s both;
  cursor: pointer; }

.scrollToTop {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 6000; }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
/*mode*/
.dark-mode-toggle {
  display: flex;
  margin: 0 auto; }
  .dark-mode-toggle > button {
    font-size: 1.2em;
    background: none;
    border: none;
    color: #ffe600;
    cursor: pointer;
    transition: color 0.3s ease; }
    .dark-mode-toggle > button:last-child {
      color: #666; }
    .dark-mode-toggle > button:focus {
      outline: none; }

.toggle-control {
  position: relative;
  padding: 0 4px;
  display: flex;
  align-items: center; }

input[type='checkbox'].dmcheck {
  width: 30px;
  height: 8px;
  background: #555;
  position: relative;
  border-radius: 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  vertical-align: 3px;
  outline: none; }
  input[type='checkbox'].dmcheck:checked + label {
    left: 20px; }
  input[type='checkbox'].dmcheck:focus-visible {
    outline: solid 2px white; }
  input[type='checkbox'].dmcheck + label {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    transition: all 0.3s ease;
    cursor: pointer;
    position: absolute;
    left: 2px;
    background: #fff;
    opacity: 0.9;
    background-color: #f6f6f6; }

body {
  background-color: white;
  color: black;
  transition: background-color 0.3s ease; }

body.dark-mode {
  background: #282828;
  color: #dfdfdf; }
  body.dark-mode .dark-mode-toggle > button {
    color: #999; }
    body.dark-mode .dark-mode-toggle > button:last-child {
      color: #ffffff; }

.cubeBox {
  margin-top: 2%; }

/*# sourceMappingURL=App.css.map */
